:local(.todoList) {
    padding: 0;
}

:local(.addPanel) {
    display: flex;
    align-items: center;
}

:local(.addIcon) {
    height: 1rem;
    margin-right: .5rem;
}

:local(.addInput) {
    border: none;
    font: inherit;
    background: none;
    width: 100%;
}